:root{
  --color-primary: #222;
  --color-secondary: #7bb0ff;
  --color-accent: #4c76ff;
  --color-bg: #121212;
  --color-text: #eeeeee;
  --color-card: #fff;
  --color-footer: #222;
  --font-main: 'Segoe UI', Arial, sans-serif;
  --font-size-base: 1rem;
  --border-radius: 1rem;
  --transition: 0.3s cubic-bezier(.4,0,.2,1);
  --gradient: linear-gradient(135deg, var(--color-secondary), #4c76ff);
}


body{
  font-size: var(--font-size-base);
  font-family: var(--font-main);
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
}


.main-header, .main-footer{
  background: var(--gradient);
  padding: 20px 10px;
  text-align: center;
  color: #fff;
}


.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  padding: 0 1rem;
  margin: 0 ;
}


.nav__logo{
  font-family: "Press Start 2P", system-ui;
  transition: color var(--transition);
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  padding: 8px;
}


.nav__logo:hover, .nav__link:hover{
  color: #0f428ff6;
}


.nav__list{
  justify-content: space-between;
  align-items: center;
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 20px 10px;
}


.nav__link{
  font-family: "Press Start 2P", system-ui;
  transition: color var(--transition);
  text-decoration: none;
  font-weight: 100;
  font-size: 0.6rem;
  color: #fff;
}


.hero{
  background: linear-gradient(90deg, var(--color-primary) 30%, var(--color-bg) 100%);
  color: #fff;
  padding: 3rem 6rem 2rem 6rem;
  text-align: center;
}


.hero__title{
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  letter-spacing: 3px;
  font-size: 2rem;
  margin-bottom: 1rem;
}


.hero__description{
  margin-bottom: 2rem;
}


.btn{
  display: inline-block;
  padding: 0.75rem 2rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: background (--transition), color var(--transition), box-shadow var(--transition);
  cursor: pointer;
  border: none;
}


.btn--primary{
  font-family: "Press Start 2P", system-ui;
  background: var(--color-accent);
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.15);
  color: #fff;
}


.btn--primary:hover, .btn--secondary:hover{
  background: #0f428ff6;
  color: #fff;
}


.btn--secondary{
  font-family:"Lilita One", sans-serif;
  border: 2px solid var(--color-primary);
  background: var(--color-accent);
  text-align: center;
  font-weight: 400;
  color: #fff;
}


.section-title{
  font-family: "Press Start 2P", system-ui;
  color: var(--color-secondary);
  margin: 3.5rem 0 3.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}


.gallery{
  max-width: 1100px;
  margin: 0 auto;
  padding: 2rem 1rem;
}


.gallery__grid{
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  display: grid;
  gap: 1.5rem;
}


.gallery__img{
  width: 100%;
  height: 200px;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(44, 62, 80, 0.08);
  transition: transform var(--transition), box-shadow var(--transition);
}


.gallery__img:hover{
  transform: scale(1.03);
  box-shadow: 0 4px 16px rgba(255, 255, 255, 0.15);
}


.video-section{
  padding: 2rem 1rem;
  text-align: center;
}


.video-container{
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto 1rem auto;
  aspect-ratio: 16/9;
  border-radius: var(--border-radius);
}





















.snowflake{
  color: #fff;
  font-size: 1em;
  font-family: Arial, sans-serif;
  text-shadow: 0 0 5px #000;
}


.snowflake,.snowflake .inner{animation-iteration-count:infinite;animation-play-state:running}@keyframes snowflakes-fall{0%{transform:translateY(0)}100%{transform:translateY(110vh)}}@keyframes snowflakes-shake{0%,100%{transform:translateX(0)}50%{transform:translateX(80px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;user-select:none;cursor:default;pointer-events:none;animation-name:snowflakes-shake;animation-duration:3s;animation-timing-function:ease-in-out}.snowflake .inner{animation-duration:10s;animation-name:snowflakes-fall;animation-timing-function:linear}.snowflake:nth-of-type(0){left:1%;animation-delay:0s}.snowflake:nth-of-type(0) .inner{animation-delay:0s}.snowflake:first-of-type{left:10%;animation-delay:1s}.snowflake:first-of-type .inner,.snowflake:nth-of-type(8) .inner{animation-delay:1s}.snowflake:nth-of-type(2){left:20%;animation-delay:.5s}.snowflake:nth-of-type(2) .inner,.snowflake:nth-of-type(6) .inner{animation-delay:6s}.snowflake:nth-of-type(3){left:30%;animation-delay:2s}.snowflake:nth-of-type(11) .inner,.snowflake:nth-of-type(3) .inner{animation-delay:4s}.snowflake:nth-of-type(4){left:40%;animation-delay:2s}.snowflake:nth-of-type(10) .inner,.snowflake:nth-of-type(4) .inner{animation-delay:2s}.snowflake:nth-of-type(5){left:50%;animation-delay:3s}.snowflake:nth-of-type(5) .inner{animation-delay:8s}.snowflake:nth-of-type(6){left:60%;animation-delay:2s}.snowflake:nth-of-type(7){left:70%;animation-delay:1s}.snowflake:nth-of-type(7) .inner{animation-delay:2.5s}.snowflake:nth-of-type(8){left:80%;animation-delay:0s}.snowflake:nth-of-type(9){left:90%;animation-delay:1.5s}.snowflake:nth-of-type(9) .inner{animation-delay:3s}.snowflake:nth-of-type(10){left:25%;animation-delay:0s}.snowflake:nth-of-type(11){left:65%;animation-delay:2.5s}

